
@{
    ViewBag.Title = "Territories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Territories</h2>

<a>Aggiungi nuovo territorio</a>
<a>Importa territori da file</a>
<ul>
    <li>Territorio 1: @Html.ActionLink("Modifica", "EditTerritory", "Admin") oppure @Html.ActionLink("Modifica topic di discussione", "Topics", "Admin")</li>
    <li>Territorio 2: @Html.ActionLink("Modifica", "EditTerritory", "Admin") oppure @Html.ActionLink("Modifica topic di discussione", "Topics", "Admin")</li>
    <li>Territorio 3: @Html.ActionLink("Modifica", "EditTerritory", "Admin") oppure @Html.ActionLink("Modifica topic di discussione", "Topics", "Admin")</li>
    <li>Territorio 4: @Html.ActionLink("Modifica", "EditTerritory", "Admin") oppure @Html.ActionLink("Modifica topic di discussione", "Topics", "Admin")</li>
</ul>