@using System.Xml;

@if (!ViewBag.node.Name.Equals("p"))
{
    string id = @ViewBag.node.Attributes.GetNamedItem("id").Value;
    <div class="row" onclick="OnClick(arguments[0] || window.event, this)" type="@ViewBag.node.Name">
        <div class="col-xs-1 tag">
            <span>@ViewBag.node.Name</span>
        </div>
        <div class="col-xs-11 @ViewBag.node.Name">
            @if (ViewBag.node.HasChildNodes)
            {
                foreach (XmlNode childNode in ViewBag.node.ChildNodes)
                {
                    Html.RenderAction("ShowNode", "Document", new { node = childNode });
                }
            }
            @*else
                {
                    <div class="@ViewBag.node.Name">@ViewBag.node.InnerText</div>
                }*@
        </div>
    </div>
}
else
{
    <div class="p" id="@ViewBag.node.Attributes.GetNamedItem("id").Value" onclick="OnClick(arguments[0] || window.event, this)">@ViewBag.node.InnerText</div>
}

