@using System.Xml;

@if (!ViewBag.node.Name.Equals("p"))
{
    string id = @ViewBag.node.Attributes.GetNamedItem("id").Value;
    <form action="@Url.Action("Click")" , method="post" id="@id">
        <a href="#" onclick="document.getElementById(@id).submit()">
            <div class="row col-xs-12">
                <div class="tag" style="min-width: 24px; max-width: 1%;">
                    <span>@ViewBag.node.Name</span>
                </div>
                <div style="max-width: 90%; width: 90%;">
                    @if (ViewBag.node.HasChildNodes)
                    {
                        foreach (XmlNode childNode in ViewBag.node.ChildNodes)
                        {
                            Html.RenderAction("ShowNode", "Document", new { node = childNode });
                        }
                    }
                    else
                    {
                        <div class="@ViewBag.node.Name">@ViewBag.node.InnerText</div>
                    }
                </div>
            </div>
        </a>
    </form>
}
else
{
    <div class="@ViewBag.node.Name">@ViewBag.node.InnerText</div>
}