@using System.Xml;
@using Parelon.Core;

<a name="Draft"></a>
<div class="row" style="margin-bottom: 0px;">
    <span class="col-xs-4 box-title"><strong>Testo</strong></span>
</div>
<div class="well row">
    <div class="col-xs-12">
        @{
            foreach (XmlElement element in Document.instance.getDocument.GetElementsByTagName("title"))
            {
                foreach (XmlNode node in element.ChildNodes)
                {
                    <div class="row">
                        <div class="col-xs-12 h1 text-center">@node.InnerText</div>
                    </div>
                }
            }
            foreach (XmlElement element in Document.instance.getDocument.GetElementsByTagName("subtitle"))
            {
                foreach (XmlNode node in element.ChildNodes)
                {
                    <div class="row">
                        <div class="col-xs-12 h4 text-justify">@node.InnerText</div>
                    </div>
                }
            }
            foreach (XmlElement element in Document.instance.getDocument.GetElementsByTagName("introduction"))
            {
                <div class="row">
                    <div class="col-xs-12 h3 text-justify">Introduction</div>
                </div>
                foreach (XmlNode node in element.ChildNodes)
                {
                    <div class="row">
                        <div class="col-xs-12 text-justify">@node.InnerText</div>
                    </div>
                }
            }
            int article = 0;
            foreach (XmlElement element in Document.instance.getDocument.GetElementsByTagName("text"))
            {
                <div class="row">
                    <div class="col-xs-12 h3 text-justify">Body</div>
                </div>
                foreach (XmlNode node in element.ChildNodes)
                {
                    if (node.Name.Equals("article"))
                    {
                        article++;
                        <div class="row">
                            <span class="col-xs-12 h4 text-center"><strong><em>Articolo @article</em></strong></span>
                        </div>
                        int paragraph = 0;
                        foreach (XmlNode node2 in node.ChildNodes)
                        {
                            if (node2.Name.Equals("p"))
                            {
                                <div class="row">
                                    <span class="col-xs-12 h5 text-center"><em>@node2.InnerText</em></span>
                                </div>
                            }
                            else if (node2.Name.Equals("paragraph"))
                            {
                                paragraph++;
                                foreach (XmlNode node3 in node2.ChildNodes)
                                {
                                    if (node3.Name.Equals("p"))
                                    {
                                        <div class="row">
                                            <span class="col-xs-12 text-justify" >@paragraph. @node3.InnerText</span>
                                        </div>
                                    }
                                    else if (node3.Name.Equals("ul"))
                                    {
                                        int indice = 0;
                                        foreach (XmlNode node4 in node3.ChildNodes)
                                        {
                                            if (node4.Name.Equals("il"))
                                            {
                                                foreach (XmlNode node5 in node4.ChildNodes)
                                                {
                                                    indice++;
                                                    <div class="row">
                                                        <span class="col-xs-11 col-xs-offset-1 text-justify">@indice) @node5.InnerText</span>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-xs-12 text-justify">@node.InnerText</div>
                        </div>
                    }
                }
            }
            foreach (XmlElement element in Document.instance.getDocument.GetElementsByTagName("conclusions"))
            {
                <div class="row">
                    <div class="col-xs-12 h3 text-justify">Conclusions</div>
                </div>
                foreach (XmlNode node in element.ChildNodes)
                {
                    <div class="row">
                        <div class="col-xs-12 text-justify">@node.InnerText</div>
                    </div>
                }
            }
        }
    </div>
</div>