@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Parlamento Elettronico Online - dev</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse" style="margin-bottom:0.2%;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand"><img src="~/Content/Images/logo.png" style="height: 100%; max-height: 50px" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="btn-group navbar-right">
                <button class="nav-right btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li role="separator" class="divider"></li>

                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-group " }))
                            {
                                @Html.AntiForgeryToken()
                                <div>
                                    @Html.ActionLink("Salve " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })

                                    <a href="javascript:document.getElementById('logoutForm').submit()">Disconnetti</a>
                                </div>
                            }
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Registrazione", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>
                        <li>@Html.ActionLink("Accedi", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    }
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="body-content container-fluid">
        @RenderBody()
    </div>
    <footer class="navbar-inverse navbar-fixed-bottom" style="height: 3%">
        <p>&copy; @DateTime.Now.Year - Parlamento Elettronico Online - dev</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
